.title{
	width:900px;
	margin:0 auto;
}
.content{
	margin:0 auto;
	width:80%;
}
.content_text{
	margin:0 auto;
	width:90%;
}
.content_img{
	margin:0 auto;
	width:60%;
}
.content_img_wide{
	margin:0 auto;
	width:80%;
}